# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
# db.sqlite3        <- commented out to allow sharing
# db.sqlite3-journal <- commented out to allow sharing
# media

# If you are using pipenv or virtualenv
/venv/
/env/
/ENV/
/.venv/

# If you are using poetry
/.poetry/
/poetry.toml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo

# Django stuff:
staticfiles/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac specific
.DS_Store
._*